<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/me/static/logo.png" type="image/png">
    <title>HackLab error</title>
    <style>
        body{
            background-color: black;
            color: purple;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>the username your are trying to use have been used try again</h1>
</body>
</html>