<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <title>Hacklab | error</title>
     <style>
        body{
            background-color: black;
            color: red;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <p>invalid credits, please try again.</p>
    <a href="/templates/login.html">back to login</a>
    
</body>
</html>